.addPriceForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-label {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
}

.form-input {
  margin-right: 10px;
  font-size: large;
}

.form-button {
  font-size: large;
}
